{% extends "layout.html" %}

{% block title %}
    AboutUs
{% endblock %}

{% block main %}

    <body background = "static/Images/dark.jpg">


   <div class="wrapper row2">
  <div id="container" class="clear">

    <div id="about-us" class="clear">

      <div id="about-intro" class="clear">
        <h2>Our Team.</h2>
        <p>We came to Austria in late 2015, we met in a programming course in Vienna in september 2017, and as a final project we agreed on working on an idea which </p>
        <p>Was the wish of Mohammd's brother who likes sports and wants to meet up new people who share him his interest.</p>
        <p>I wish you enjoy this app and we grow bigger with your feedback feel free to contact us on our email:_____</p>
      </div>


      <div id="team">
        <!--<P>Our Team</P>-->
        <!--<div class = images>-->
        <ul class="clear">
            <div class="figure"><img src="static/Images/Thaer.jpg" alt=""class="rounded-circle"/>
              <div class="figcaption">
                <p class="team_name">Thaer</p>
                <p class="team_title">CS50</p>
              </div>
            </div>

            <div class="figure2"><img src="static/Images/Nour.jpg" alt=""class="rounded-circle" />
              <div class="figcaption">
                <p class="team_name">Nourallah</p>
                <p class="team_title">CS50</p>
              </div>
            </div>

            <div class="figure3"><img src="static/Images/Yazan.jpg" alt="" class="rounded-circle"/>
              <div class="figcaption">
                <p class="team_name">Yazan</p>
                <p class="team_title">CS50</p>
              </div>
            </div>


            <div class="figure4"><img src="static/Images/Mohammad.jpg" alt="" class="rounded-circle"/>
              <div class="figcaption">
                <p class="team_name">Mohammad</p>
                <p class="team_title">CS50</p>
              </div>
            </div>
        <!--</ul>-->
      </div>
  </div>
</div>
</div>
</div>
</body>


{% endblock %}