{% extends "layout.html" %}

{% block title %}
    Event
{% endblock %}

{% block main %}
<form action="/event" method="post">
  <body background = "static/Images/dark.jpg">

    </body>

 <center>  <h2>{{ event[0]["eventname"] }}</h2>
<h4>{{ event[0]["date"] }}</h4>
<p>{{ event[0]["description"] }}</p>
<p>{{ event[0]["type"] }}</p>
<p>this event going to be at {{ event[0]["place"] }}</p></center>
<div id="participant" class="participant">
<ul>
  {% for participant in participants %}
    <li>{{ participant["user_name"] }}</li>
  {% endfor %}
</ul>
</div>
</form>
{% endblock %}
