{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<br></br><h1><blod><center>Hello in Sport Finder Website</center></blod></h1>

    <div class="fullscreen-bg">
        <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video" id="runvideo">

            <source src="/static/Videos/video3.mp4" vid.playbackRate = -1; />

            <source src="/static/video1.mp4" vid.playbackRate = -1; />


        </video>
    </div>




<body>

    <!--body-->



<div class = "p">
<p style="text-align:center;" style = "color:#2e944b";>We are happy to provide our Sport event service to you that will allow you creating any sport event you like.</p>
</div>
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password"/>
        </div>
        <div class = "login">
            <button class = "btn btn-outline-success" type = "submit">Log In</button>
        </div>
    </form>

{% endblock %}
