{% extends "layout.html" %}

{% block title %}
    register
{% endblock %}

{% block main %}
    <!--form action="/register" method="post"-->
    <form action="/register" enctype="multipart/form-data" method="POST">

        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/><br><br>
            <input class="form-control" name="password" placeholder="Password" type="password"/><br><br>
            <input class="form-control" name="confirmation" placeholder="password again" type="password"/><br><br>
            <input class="form-control" name="email" placeholder="email" type="email" id="valid_email" class="validate"/><br><br>
            <input type="file" name="file" placeholder ="upload photo">
             <script >
             /*global $*/
        $('.validate').hide();
        $('body').on('blur', '#valid_email', function() {
        $('.validate').hide();
        if(!isValidEmailAddress($(this).val())) {
        $('.validate').show();
        }
    });

    function isValidEmailAddress(email) {
    var pattern = new RegExp(/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/i);
    return pattern.test(email)};
        </script>

        </div>
        <button class="btn btn-primary" type="submit" value = "uploads">Register</button>
    </form>
{% endblock %}